@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

main {
  padding: 5px;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 50px;
}

.profile {
  display: flex;
  gap: 5px;
  align-items: center;
  align-content: center;
}

.login-info {
  display: flex;
  gap: 1rem;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
  color: #000;
}

.logo a:hover {
  cursor: pointer;
}

nav input {
  border: 2px solid #585757;
  border-radius: 30px;
  width: 250px;
  height: 30px;
}

nav input::placeholder {
  color: #000;
  opacity: 70%;
  font-weight: bold;
  font-size: 0.95rem;
  padding: 5px;
  letter-spacing: 0.2px;
}

.profile h4 {
  margin: 0;
  padding: 0 5px 0 0;
}

.profile {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 5px;

  margin: 0;
}

.profile a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  text-decoration: none;
  color: #000;
}

nav h1 {
  font-size: 1.8rem;
  margin: 0;
}

section {
  width: 85%;
  margin: 0 auto;
}
section hr {
  opacity: 70%;
}

section > h1 {
  font-size: 2rem;
  margin: 5px 0;
}

.content {
  display: flex;
  gap: 1rem;
  padding: 20px;
}

.fav-content {
  display: flex;
  gap: 1rem;
  width: fit-content;
  margin-bottom: 20px;
}

.date {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 10px;
  align-items: center;
  align-content: center;
  text-align: center;
}

.date h1 {
  font-size: 3rem;
  margin: 0;
  font-weight: bold;
}

.date p {
  margin: 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.summary h1,
p {
  margin: 0;
}

.summary {
  padding: 5px;
}

.item-date {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  align-content: center;
}

.item-date p {
  font-weight: bold;
  color: #585757;
}

.item h1,
h3,
p {
  margin: 0;
}

.item-post {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 5px;

  padding: 10px;
  margin-bottom: 20px;
}

.item-post:hover {
  background-color: #5857571e;
  border-radius: 10px;
  box-shadow: #000;
}

.item-post > img {
  border-radius: 10px;
  padding: 5px;
  object-fit: cover;
}

.post {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 10px;
  width: fit-content;
}

.profile:hover {
  cursor: pointer;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  width: 530px;
  height: 620px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}
form {
  height: 600px;
  width: 425px;
  background-color: rgba(0, 0, 0, 0.397);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
button {
  margin-top: 20px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: #000;
}

.post-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 10px 5px;
}

.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  width: min-content;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.social {
  margin-top: 30px;
  display: flex;
  align-items: center;
  align-content: center;
}
.social div {
  background: red;
  width: 150px;
  margin-left: 15px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}
.social .fb {
  margin-left: 25px;
}
.social i {
  margin-right: 4px;
}
